<html lang="en">
    <head>
        <title>Bookbub</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <!--
            <link rel="stylesheet" href="styles.css">
        -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    </head>
    <body>

        <div class="wrapper">
		
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"> 
                                               <i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                    <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
            </nav>
        
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                    <a href="#" class="brand-link">
                      
                      <span class="brand-text font-weight-light">BookBub</span>
                    </a>
    
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                          <li class="nav-item">
                            <a href="/create" class="nav-link">
                              <i class="nav-icon far fa-circle text-info"></i>
                              <p>Add Item</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="/deleteitem" class="nav-link">
                              <i class="nav-icon far fa-circle text-info"></i>
                              <p class="text">Delete Item</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="/updatestock" class="nav-link">
                              <i class="nav-icon far fa-circle text-info"></i>
                              <p class="text">Update Stock</p>
                            </a>
                          </li>
                          
                        </ul>
                    </nav>
    
            </aside>
    
            
            <div class="content-wrapper">
                
                <section class="content-header">
                    <center><h1>Bookbub Inventory Management</h1></center>
                </section>
                
                <section class="content">
                    
                </section><br><br><br>

                


        <center><h4 class="c1">Add new item</h4>
        <form action="/AddData" method="POST">
            

        <label>Book Id:</label>&nbsp;
        <input type="number" placeholder="Enter book id" name="book_id"><br>

        <label>Name:</label>&nbsp;
        <input type="string" placeholder="Enter book name" name="name"><br>

        <label>Genre:</label>&nbsp;
        <input type="string" placeholder="Enter book genre" name="genre"><br>

        <label>Stock:</label>&nbsp;
        <input type="number" placeholder="Enter book stock" name="stock"><br>

        <label>Price:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" placeholder="Enter book price" name="price"><br><br>
        
        <button type="submit">Submit</button><br>
        </form>
        </body>
        <a href="/" class="c2">Home</a><br><br>
        </html></center>


    </div>
    </body>
</html>